# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env

# Vector Database
vector_store/

# IDE Files
.vscode/

# OS Files
.DS_Store
Thumbs.db
# Streamlit Secrets
.streamlit/secrets.toml

# Uploaded / generated test files
tests/*.pdf

# Generated ChromaDB
data/chroma_db/
